
{{!-- {{#if loggedIn}} --}}
{{!-- TODO: removed 'product.' prefix from the data fields --}}
<section class="product">

  <div class="card-body">
    <img src="/images/{{image}}" alt="{{description}}">
    <h3>Product Name: {{name}}</h3>
    <h3>Starting Price: {{starting_price}}</h3>
    <h3>Current Bid: {{current_bid}}</h3>
    <h3>{{bid_count}}</h3>
    <h3>{{category_id}}</h3>
    <h3>{{current_bidder_id}}</h3>
    {{!-- <p>Auction open until: {{ format_date auction_date }}</p> --}}
  </div>
</section>
{{!-- {{else}} --}}
{{!-- <a href="/js/login.js">You must login first to bid on this product</a> --}}
{{!-- {{/if}} --}}