
{{!-- {{#if loggedIn}} --}}

<section class="product">
  <img src="/images/{{filename}}" alt="{{description}}">
  <div class="product-details">
    <h3>{{product.name}}</h3>
    <h3>{{product.starting_price}}</h3>
    <h3>{{product.current_bid}}</h3>
    <h3>{{bid_count}}</h3>
    <h3>{{category_id}}</h3>
    <h3>{{current_bidder_id}}</h3>
    {{!-- <p>Auction open until: {{ format_date auction_date }}</p> --}}
  </div>
</section>
{{!-- {{else}} --}}
<a href="../public/js/login.js">You must login first to bid on this product</a>
{{!-- {{/if}} --}}