<section class="product">

  <div id="card-body">
    <img id="products-images" src="/images/{{image}}" alt="">
    <p id="product-info" class="product-name">Product Name: {{name}}</p>
    <p id="product-info">Description: {{description}}</p>
    <p id="product-info">Market Price: ${{starting_price}}</p>
    <p id="product-info">Current Bid: ${{current_bid}}</p>
    
    <a href="/auction/{{id}}"><p>Click text to go to the auction!</p></a>
  </div>
</section>
