<section class="card">
  <a href="/product/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>Listed By: {{seller}}</p>
    </div>
  </a>
</section>