<section class="product flex-row justify-center">

  <div class="card-body single product-id" id="{{product.id}}">
    <img id="auction-image" src="/images/{{product.image}}" alt="{{description}}" />
    <p class="product-name">{{product.name}}</p>
    <p>Market Price: ${{product.starting_price}}</p>
    <p class="current-bid" data-current-bid="{{product.current_bid}}">Current Bid: ${{product.current_bid}}</p>
    <p class="bid-count" data-bid-count="{{product.bid_count}}">Bid Count: {{product.bid_count}}</p>
    <p>Auction open until: <span class="auction-date" data-auction-date="2022-01-01T22:14:14.590Z"></span></p>
    <button id="submit">Increase Bid By 4 Dollars</button>
    <a href="/products"><p>Click text to go back to the products page!</p></a>
    </div>
  </div>
</section>

<script src ="/js/auction.js"></script>
