{{!-- {{#if loggedIn}} --}}

<section class="product flex-row justify-center">

  <div class="card-body single">
    <img src="/images/{{product.image}}" alt="{{description}}">
    <br>
    <h3>{{product.name}}</h3>
    <h3>Starting Price: ${{product.starting_price}}</h3>
    <h3>Current Bid: ${{product.current_bid}}</h3>
    <h3>Bid Count:{{product.bid_count}}</h3>
    <h3>Category: {{product.category_id}}</h3>
    <h3>Current Bidder Id: {{product.current_bidder_id}}</h3>
    {{!-- <p>Auction open until: {{ format_date auction_date }}</p> --}}
  </div>
</section>
