{{!-- {{#if loggedIn}} --}}

<section class="product">

  <div class="card-body">
    <img src="/images/{{product.image}}" alt="{{description}}">
    <h3>{{product.name}}</h3>
    <h3>{{product.starting_price}}</h3>
    <h3>{{product.current_bid}}</h3>
    <h3>{{product.bid_count}}</h3>
    <h3>{{product.category_id}}</h3>
    <h3>{{product.current_bidder_id}}</h3>
    {{!-- <p>Auction open until: {{ format_date auction_date }}</p> --}}
  </div>
</section>
{{!-- {{else}} --}}
<a href="/js/login.js">You must login first to bid on this product</a>
{{!-- {{/if}} --}}