
{{#if loggedIn}}
<section class="product">
  <img src="/images/{{product.filename}}" alt="{{product.description}}">
  <div class="product-details">
    <h3>{{product.name}}</h3>
    <h3>{{product.starting_price}}</h3>
    <h3>{{product.current_bid}}</h3>
    <h3>{{product.bid_count}}</h3>
    <h3>{{product.category_id}}</h3>
    <h3>{{product.current_bidder_id}}</h3>

    <p>Auction open until: {{ format_date product.auction_date}}</p>
  </div>
</section>
{{else}}
<a href="/login">You must login first to bid on this product</a>
{{/if}}